"*":
  "advanced-open-file":
    defaultInputValue: "Project root"
  "autocomplete-plus":
    confirmCompletion: "enter"
    fileBlacklist: [
      ".*"
      "*.css.map"
    ]
  "base16-syntax":
    scheme: "Eighties"
    style: "Dark"
  "bracket-matcher":
    autocompleteBrackets: false
  core:
    closeEmptyWindows: false
    customFileTypes:
      "source.ini": [
        ".buckconfig"
        ".hgrc"
      ]
      "source.json": [
        ".arcconfig"
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
    disabledPackages: [
      "bookmarks"
      "styleguide"
      "welcome"
      "metrics"
      "package-generator"
      "disable-keybindings"
      "autoflow"
      "autosave"
    ]
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "node_modules"
      "*.meta"
      "*.swp"
    ]
    openEmptyEditorOnStart: true
    packagesWithKeymapsDisabled: [
      "atom-beautify"
      "highlight-selected"
      "atom-typescript"
    ]
    projectHome: "/Users/sril/src"
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "base16-syntax"
    ]
    titleBar: "custom"
  editor:
    fontFamily: "Fira Mono"
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
  "exception-reporting":
    userId: "b5f5fbc4-7ffa-4072-8e0a-8030e7056774"
  "find-and-replace":
    projectSearchResultsPaneSplitDirection: "right"
  "fuzzy-finder":
    preserveLastSearch: true
  "git-diff":
    showIconsInEditorGutter: true
  "highlight-selected":
    hideHighlightOnSelectedWord: true
    showInStatusBar: false
  linter: {}
  "linter-eslint":
    disableWhenNoEslintConfig: false
  "linter-js-standard":
    checkStyleDevDependencies: true
    lintMarkdownFiles: true
  "linter-ui-default":
    panelHeight: 69
  "markdown-preview-plus":
    useGitHubStyle: true
  "node-debugger":
    nodePath: "/usr/local/bin/node"
  "project-manager":
    alwaysOpenInSameWindow: true
    prettifyTitle: false
    savePathsRelativeToHome: false
    sortBy: "last modified"
  "project-plus":
    autoDiscover: false
    notifications: false
    projectHome: "~/src"
    showPath: true
  "spell-check":
    addKnownWords: true
    locales: [
      "en-GB"
    ]
  tabs:
    addNewTabsAtEnd: true
    enableMruTabSwitching: false
  "tree-view":
    focusOnReveal: false
    hideIgnoredNames: true
    squashDirectoryNames: true
  welcome:
    showOnStartup: false
  whitespace:
    ensureSingleTrailingNewline: false
".gfm.source":
  editor:
    softWrapAtPreferredLineLength: true
".html.php.text":
  editor:
    softWrap: false
    tabLength: 4
".js.source":
  editor:
    softWrapAtPreferredLineLength: false
".shell.source":
  editor:
    softWrapAtPreferredLineLength: true
